* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
body {
  font-family: Montserrat;
  height: 100%;
  color: #787e84;
  line-height: 1.5;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1440px;
  margin: 10px auto;
  padding: 0px 10px;
  background-color: #fff;
}

.main {
  flex: 1 1 auto;
  padding: 80px 0 0 0;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header_burger {
  display: none;
}
.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4a525a;
  z-index: 2;
}
.header_body {
  align-items: center;
  position: relative;
  text-align: center;
  height: 80px;
}
.header__menu {
  width: 100%;
  line-height: 80px;
  font-size: 22px;
  position: relative;
  z-index: 3;
}
.header__list {
  display: flex;
  justify-content: center;
}
.header__list li {
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
}
.header__list li a {
  color: #fff;
}
.header__menu a:hover,
.header__menu a.active {
  color: #9883e5;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: row;
}
.logo,
.logo_git {
  height: 60px;
  padding: 0px 50px 10px;
}
.home {
  height: 390px;
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  top: 80px;
  display: flex;
  flex-direction: row;
}
.avatar {
  margin-left: 7%;
  border-radius: 50%;
  border: 3px #9883e5 solid;
  box-sizing: border-box;
}
.home__content {
  margin-left: 30px;
}
.hi {
  font-size: 100px;
  font-weight: bold;
  color: #24272b;
}
.info {
  font-size: 30px;
  font-style: italic;
}
strong {
  color: #373d43;
  margin-right: 15px;
}
h2 {
  font-size: 50px;
  font-weight: bold;
  color: #24272b;
  margin-left: 7%;
}
p {
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
  text-indent: 50px;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 30px;
}
.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.skills__subcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
  height: auto;
  border: #9883e5 3px solid;
  border-radius: 20px;
  padding: 10px;
  justify-content: center;
}
.skills__item__title {
  color: #24272b;
  font-weight: bold;
  font-size: 18px;
}
.skills__item__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.skills__item {
  height: 100px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
.html-logo {
  background-image: url("./img/logo/html-logo.svg");
}
.css-logo {
  background-image: url("./img/logo/css-logo.svg");
}
.js-logo {
  background-image: url("./img/logo/js-logo.svg");
}
.ts-logo {
  background-image: url("./img/logo/ts-logo.svg");
}

.react-logo {
  background-image: url("./img/logo/react-logo.svg");
}
.redux-logo {
  background-image: url("./img/logo/redux-logo.svg");
}
.sass-logo {
  background-image: url("./img/logo/sass-logo.svg");
}
.git-logo {
  background-image: url("./img/logo/git-logo.svg");
}
.figma-logo {
  background-image: url("./img/logo/figma-logo.svg");
}
.vscode-logo {
  background-image: url("./img/logo/vscode-logo.svg");
}
.webstorm-logo {
  background-image: url("./img/logo/webstorm-logo.svg");
}

pre {
  background-color: black;
  color: white;
  margin: 0 40% 20px 10%;
  padding-top: 20px;
  border: 2px #9883e5 solid;
}
.education {
  max-width: 100%;
  margin-left: 10%;
  margin-bottom: 30px;
  font-size: 20px;
}
.miit {
  text-decoration: none;
  margin-right: 20px;
  color: #9883e5;
  font-size: 24px;
}
.miit:hover {
  color: #50c9ce;
}
.languages ul {
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
  text-indent: 50px;
  margin-left: 7%;
  margin-bottom: 30px;
  color: #4a525a;
}
@media (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
  .hi {
    font-size: 80px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .hi {
    font-size: 50px;
  }
  .header__menu {
    font-size: 19px;
  }
  .home {
    height: 300px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .header__menu {
    font-size: 14px;
  }
  .hi {
    font-size: 48px;
  }
  .info {
    font-size: 23px;
  }
  strong {
    margin-right: 5px;
  }
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .container {
    max-width: 100%;
  }
  .header__burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    z-index: 4;
    right: 10px;
    margin: 15px 10px 0 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.5s ease 0s;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: slategray;
    z-index: 1;
    padding: 70px 0 0 0;
    top: -100%;
    font-size: 25px;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
    transition: all 0.5s ease 0s;
  }
  .header_body {
    height: 50px;
  }
  .header__list {
    display: block;
    line-height: 14px;
  }
  .header__list li {
    margin-bottom: 20px;
  }
  .hi {
    font-size: 38px;
  }
  .home {
    height: 280px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .info {
    margin-top: 20px;
    font-size: 20px;
  }
  pre {
    margin: 0 10% 20px 10%;
  }
}
@media (max-width: 675px) {
  .home {
    height: auto;
    display: block;
    flex-direction: column;
    text-align: center;
  }
  .avatar {
    height: 300px;
    width: auto;
  }
  .hi {
    font-size: 50px;
  }
  .info {
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
  }
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 505px) {
  .hi {
    font-size: 40px;
  }
  h2 {
    font-size: 24px;
  }
  .home__content {
    margin-left: 0;
  }
  p {
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
  }
  pre {
    font-size: 10px;
    margin: 0 3% 20px 3%;
  }
  .logo,
  .logo_git {
    height: 40px;
    padding: 0px 10px;
  }
  .miit {
    font-size: 16px;
  }
  .education {
    font-size: 16px;
  }
  .languages ul {
    font-size: 16px;
  }
  h2 {
    margin-bottom: 10px;
  }
  .skills ul {
    font-size: 16px;
  }
}
