* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
body {
  font-family: Montserrat;
  height: 100%;
  color: #787e84;
  line-height: 1.5;
}
html {
  scroll-behavior: smooth;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1440px;
  margin: 0px auto;
  background-color: #fff;
}

.main {
  flex: 1 1 auto;
  padding: 110px 0 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header_burger {
  display: none;
}
.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4a525a;
  z-index: 2;
}
.header_body {
  align-items: center;
  position: relative;
  text-align: center;
  height: 80px;
}
.header__menu {
  width: 100%;
  line-height: 80px;
  font-size: 22px;
  position: relative;
  z-index: 3;
}
.header__list {
  display: flex;
  justify-content: center;
}
.header__list li {
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
}
.header__list li a {
  color: #fff;
}
.header__menu a:hover,
.header__menu a.active {
  color: #9883e5;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.logo,
.logo_git {
  height: 60px;
  padding: 0px 50px 10px;
}
.home {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.avatar {
  width: 450px;
  height: 450px;
  background-image: url("./img/avatar.jpg");
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(0.15);
  border: #9883e5 3px solid;
}
.home__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home-title {
  font-family: Montserrat;
  font-weight: bolder;
  font-size: 46px;
}
.home-title b {
  color: #9883e5;
}
.main__text {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
}
.home-greetings {
}
.main__section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 36px;
  color: #9883e5;
  text-align: center;
  text-transform: uppercase;
}
.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.skills__subcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  height: auto;
  border: #9883e5 3px solid;
  border-radius: 20px;
  padding: 10px;
  align-items: center;
  gap: 20px;
}
.skills__item__title {
  color: #24272b;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.skills__item__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.skills__item {
  height: 100px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.html-logo {
  background-image: url("./img/logo/html-logo.svg");
}
.css-logo {
  background-image: url("./img/logo/css-logo.svg");
}
.js-logo {
  background-image: url("./img/logo/js-logo.svg");
}
.ts-logo {
  background-image: url("./img/logo/ts-logo.svg");
}
.react-logo {
  background-image: url("./img/logo/react-logo.svg");
}
.redux-logo {
  background-image: url("./img/logo/redux-logo.svg");
}
.sass-logo {
  background-image: url("./img/logo/sass-logo.svg");
}
.git-logo {
  background-image: url("./img/logo/git-logo.svg");
}
.figma-logo {
  background-image: url("./img/logo/figma-logo.svg");
}
.vscode-logo {
  background-image: url("./img/logo/vscode-logo.svg");
}
.webstorm-logo {
  background-image: url("./img/logo/webstorm-logo.svg");
}
.languages-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.languages__list__item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 28px;
}
.flag__item {
  height: 60px;
  width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: #000 2px solid;
  border-radius: 50%;
}
.rus-flag {
  background-image: url("./img/flags/russia-flag.svg");
}
.eng-flag {
  background-image: url("./img/flags/united-kingdom-flag.svg");
}
.fr-flag {
  background-image: url("./img/flags/france-flag.svg");
}

.info-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: #9883e5 3px solid;
  border-radius: 20px;
  padding: 0 20px 20px;
  width: 385px;
}
.contacts-title {
  color: #24272b;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contacts__item {
}
.contacts__item em {
  color: #24B0BC;
}
.about-me-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-me-title {
  color: #24B0BC;
  font-size: 26px;
  font-weight: bolder;
  text-transform: uppercase;
}
.about-me-subtitle {
  color: #24272b;
  font-weight: bold;
  font-size: 22px;
}
.about-me-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.about-me-github {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./img/logo/github-logo-svgrepo-com.svg");
  opacity: 0.8;
  transition: all 0.5s ease;
}
.about-me-codewars {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./img/logo/codewars-svgrepo-com.svg");
  opacity: 0.8;
  transition: all 0.5s ease;
}
.about-me-codewars:hover {
  opacity: 1;
}
.about-me-codewars:active {
  transform: scale(1.1);
}
.about-me-github:hover {
  opacity: 1;
}
.about-me-github:active {
  transform: scale(1.1);
}

.info-text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-text-item {

}
.tg-link {
  color: #9883e5;
  opacity: 0.8;
  transition: all 0.5s ease;
}
.tg-link:hover {
  opacity: 1;
}
.tg-link:active {
  opacity: 1;
  transform: scale(1.1);
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.portfolio__item {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 10px;
  border-left: 15px #00FFE5 solid;
  background: #787e84;
}
.portfolio__item__img {
  width: 500px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  border: #00FFE5 2px solid;
  opacity: 0.8;
  transition: all 0.5s ease;
}
.portfolio__item__img:hover {
  opacity: 1;
}
.portfolio__item__img:active {
  transform: scale(1.1);
}
.museum-img {
  background-image: url("./img/portfolio/museum.jpg");
}
.museum-list {
  margin-top: 5px;
  font-size: 18px;
}
.momentum-img {
  background-image: url("./img/portfolio/momentum.jpg");
}
.christmas-tree-img {
  background-image: url("./img/portfolio/christmas-tree.jpg");
}
.rslang-img {
  background-image: url("./img/portfolio/rslang.jpg");
}
.portfolio__item__text {
  color: white;
  align-self: center;
}
.technologies__text{
  margin-top: 20px;
  color: #00FFE5;
}
.education-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.education__item {
  width: 45%;
  padding: 20px;
  border: #9883e5 3px solid;
  border-radius: 20px;

}
.education__item__text em{
  color: #24B0BC;
}


@media (max-width: 1440px) {
  .container {
    max-width: 100%;
    padding: 20px;
  }
  .main {
    padding-top: 80px;
  }
  .avatar {
    width: calc(350px + (450 - 350) * ((100vw - 768px) / (1440 - 768)));
    height: calc(350px + (450 - 350) * ((100vw - 768px) / (1440 - 768)));
  }
  .home-title {
    font-size: calc(36px + (46 - 36) * ((100vw - 768px) / (1440 - 768)));
  }
  .main__text {
    font-size: calc(16px + (20 - 16) * ((100vw - 768px) / (1440 - 768)));
  }
  .main__title {
    font-size: calc(28px + (36 - 28) * ((100vw - 768px) / (1440 - 768)));
  }
  .skills-container {
    flex-direction: column;
    gap: 20px;
  }
  .skills__subcontainer {
    width: max-content;
    align-self: center;
  }
  .skills__item {
    height: calc(80px + (100 - 80) * ((100vw - 768px) / (1440 - 768)));
    width: calc(60px + (80 - 60) * ((100vw - 768px) / (1440 - 768)));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .languages-list {
    flex-direction: row;
  }
  .languages__list__item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-size: calc(22px + (28 - 22) * ((100vw - 768px) / (1440 - 768)));
  }
  .flag__item {
    height: calc(50px + (60 - 50) * ((100vw - 768px) / (1440 - 768)));
    width: calc(50px + (60 - 50) * ((100vw - 768px) / (1440 - 768)));
  }
  .info-container {
    gap: calc(30px + (50 - 30) * ((100vw - 768px) / (1440 - 768)));
  }
  .contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: #9883e5 3px solid;
    border-radius: 20px;
    padding: 0 calc(10px + (20 - 10) * ((100vw - 768px) / (1440 - 768))) calc(10px + (20 - 10) * ((100vw - 768px) / (1440 - 768)));
    width: 385px;
  }
  .info-text-container {
    gap: calc(10px + (20 - 10) * ((100vw - 768px) / (1440 - 768)));
  }
  .portfolio__item__text {
    font-size: calc(14px + (20 - 14) * ((100vw - 768px) / (1440 - 768)));
  }
  .portfolio__item {
    gap: calc(20px + (50 - 20) * ((100vw - 768px) / (1440 - 768)));
    border-left: calc(10px + (15 - 10) * ((100vw - 768px) / (1440 - 768))) #00FFE5 solid;
  }
  .portfolio__item__img {
    width: calc(300px + (500 - 300) * ((100vw - 768px) / (1440 - 768)));
    height: calc(250px + (350 - 250) * ((100vw - 768px) / (1440 - 768)));
  }
  .museum-list {
    margin-top: 5px;
    font-size: calc(14px + (18 - 14) * ((100vw - 768px) / (1440 - 768)));
  }
  .technologies__text{
    margin-top: calc(10px + (20 - 10) * ((100vw - 768px) / (1440 - 768)));
  }
  .education-container {
    flex-direction: column;
    gap: 20px;
  }
  .education__item {
    width: max-content;
    align-self: center;
    text-align: center;
  }
  .logo,
  .logo_git {
    height: calc(40px + (60 - 40) * ((100vw - 768px) / (1440 - 768)));
    padding: 0px calc(30px + (50 - 30) * ((100vw - 768px) / (1440 - 768))) calc(0px + (10 - 0) * ((100vw - 768px) / (1440 - 768)));;
  }
}

@media (max-width: 767px) {

  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    z-index: 4;
    right: 10px;
    margin: 15px 10px 0 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.5s ease 0s;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: slategray;
    z-index: 1;
    padding: 70px 0 0 0;
    top: -100%;
    font-size: 25px;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
    transition: all 0.5s ease 0s;
  }
  .header_body {
    height: 50px;
  }
  .header__list {
    display: block;
    line-height: 14px;
  }
  .header__list li {
    margin-bottom: 20px;
  }
  .skills__subcontainer {
    width: 100%;
    align-self: center;
  }
  .education__item {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 564px) {
  .container {
    padding: 5px;
  }
  .main {
    padding-top: 50px;
  }
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .avatar {
    width: calc(250px + (450 - 250) * ((100vw - 320px) / (564 - 320)));
    height: calc(250px + (450 - 250) * ((100vw - 320px) / (564 - 320)));
  }
  .home__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .home-title {
    font-family: Montserrat;
    font-weight: bolder;
    font-size: calc(30px + (46 - 30) * ((100vw - 320px) / (564 - 320)));
  }
  .main__text {
    font-size: 16px;
  }
  .main__title {
    font-size: 28px;
  }
  .skills-container {
    flex-direction: column;
    gap: 20px;
  }
  .skills__subcontainer {
    width: 100%;
    align-self: center;
  }
  .languages-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .info-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-me-container {
    align-items: center;
    justify-content: center;
  }
  .contacts-container {
    width: 100%;
  }
  .info-text-item {
    margin-top: 10px;
  }
  .info-text-container hr {
    display: none;
  }
  .portfolio__item__text {
    font-size: 14px;
  }
  .portfolio__item {
    flex-direction: column;
  }
  .portfolio__item__img {
    width: 100%;
    height: calc(150px + (300 - 150) * ((100vw - 320px) / (564 - 320)));
  }
  .museum-list {
    margin-top: 5px;
    font-size: 14px;
  }
}
